body{
	background-color: #071820;
	width: 100%;
	height: 100%;
}

#content{
	margin: auto; /* Magic : everything is centered */
	text-align:center;
	/*margin-top: 15px;*/
	width: 500px;
}

.cell{
	width: 20px;
	height: 20px;
	display: inline-block;
	margin: 2px 2px 4px 1px;
}
.frame{
	display: inline-block;
	height: 2px;
	position: relative;
	right: 1px;
	bottom:0px;
	width: 0px;
	border-left: dotted 2px #8db28c;
	/*border-right: dotted 2px grey;*/
	margin: 0px 1px 0px 1px;
}

#grid{
	background-color: #071820;
	border-left: 1px solid #8db28c;
	border-right: 1px solid #8db28c;
	border-bottom: 1px solid #8db28c;
	border-top: 1px solid #8db28c;
	padding: 15px 25px 25px 25Px;
	float: left;
	margin-top: 15px;
	/*margin-top: 54px;*/
	/*display: inline-block;*/
	/*padding:9px;*/
}

aside {
	
	display: block;
	float: left;
	/*margin-right: 8px;*/
	margin-top: 64px;
	width: 100px;
	
}

#score{
	display: inline-block;
	/*width: 200px;*/
	}
	
	
#level {
	display: inline-block;
	/*width: 200px;*/	
}

	/* text */

p {
	text-align: right;
	font-family: 'Letter Gothic Std';
	font-weight: 100;
	font-size: 20px;
	/*font-style: italic;*/
	line-height: 1;
	color: #dff8d0;
	
}

h1 {
	text-align: right;
	font-weight: 700;
	font-family: 'Letter Gothic Std';
	font-size: 22px;
	color: #dff8d0;
	/*border-top: 1px solid white;
	padding-top: 8px;*/
	line-height: 1.2;
}

h2 {
	text-align: center;
	font-weight: 200;
	font-family: 'Kumar One', cursive;
	font-size: 24px;
	color: #dff8d0;
	padding-bottom: 8px;
	border-bottom: 2px solid #8db28c;
}